@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('../assets/fonts/Mona-Sans-Regular.woff2') format('woff2 supports variations'),
    url('../assets/fonts/Mona-Sans-SemiBold.woff2') format('woff2-variations');
  font-weight: 400 600;
  font-stretch: 75%;
}

@layer base {
  body { @apply bg-white transition-colors dark:bg-black; }

  * { @apply font-mona text-black dark:text-white; }

  p { @apply font-normal text-lg; }

  h1, h2, h3 { @apply font-semibold; }

  h1 { @apply text-h1; }

  h2 { @apply text-h2; }

  h3 { @apply text-h3; }

  button:focus { @apply outline-none ring-2 ring-blue ring-offset-4 ring-offset-white dark:ring-offset-black; }
}

@layer utilities {
  .px-container { @apply px-6 sm:px-20 md:px-40 lg:px-56 xl:px-72; }

  .text-gradient { @apply bg-gradient-to-r from-blue to-purple bg-clip-text text-transparent; }
}
